.app-switch-ul {
    display: grid;
    @media(max-width: 767px) {
        grid-template-columns: repeat(auto-fill, 85px);
        column-gap: 2px;
        row-gap: 2px;
    }
    @media(min-width: 768px) {
        grid-template-columns: repeat(auto-fill, 120px);
        column-gap: 10px;
        row-gap: 10px;
    }
    
    justify-content: center;
    list-style: none;

    & > li {
        text-align: center;

        a {
            text-decoration: none;
            color: inherit;

            img {
                @media(max-width: 767px) {
                    width: 80px;
                }
                @media(min-width: 768px) {
                    width: 115px;
                }
                padding: 5px;
            }
        }
    }
}
