.fw-header-link .link-text:hover {
    text-decoration: none;
}

@media(max-width: 500px) {
    .fw-header-link.apps-button {
        display: none;
    }

    .fw-user-name.full-name {
        display: none;
    }
}
@media(min-width: 501px) {
    .fw-header-link .apps-dropdown {
        display: none;
    }
    .fw-user-name.short-name {
        display: none;
    }
}

.dropdown-click-target {
    min-height: 100vh;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
}

.dropdown-menu .department-switch .dropdown-menu .fw-collection-ul {
    padding: 0;
}
