$c-main: #7E3DB7;
$c-flip: #FFF;

// Import base ember-fw styles
@import "ember-fw/ember-fw";

// Import ember-fw styling for ember-power-select
@import "ember-fw/power-select/power-select-fw";

// Import ember-fw-gc specific styling
@import "ember-fw-gc/ember-fw-gc";

.example-tooltip-button-wrapper {
    margin: 20px;
    padding: 10px;
    display: flex;
    justify-content: space-around;
    overflow: auto;
    border: solid 1px #000;
}
