<FwNav>
    <ul>
        {{#if session.isAuthenticated}}
            {{#if currentUser.hasRoles}}
                {{yield}}
            {{else}}
                <li>
                    <FwTopLink @route='index'>
                        {{config.name}}
                    </FwTopLink>
                </li>
            {{/if}}
        {{else}}
            <li>
                <FwTopLink @route='login'>
                    Login
                </FwTopLink>
            </li>
        {{/if}}
    </ul>
</FwNav>
