<FwContentBox @hasFooter={{false}} as |section|>
    {{#if section.header}}
        <h1 class="panel-title"><strong>The FW Content Box</strong></h1>
    {{else if section.body}}
        <p>
            Test: One of the most basic components that fw-ember-gc
            provides is a content box component. At its very basic,
            it provides a thin wrapper around Bootstrap's
            <a href="http://getbootstrap.com/components/#panels" target="_blank">panel component,</a>
            but it allows for some customization and reduces the amount of templating code
            necessary.
        </p>

        <p>
            An example of the content box is the one that you're reading right now.
            Here is the Ember code used to generate this content-box:
        </p>

        <CodeBlock @language="handlebars">
            <FwContentBox @hasFooter={{false}} as |section|>
                {{#if section.header}}
                    &lt;h1 class="panel-title"&gt;&lt;strong&gt;The FW Content Box&lt;/strong&gt;&lt;/h1&gt;
                {{else if section.body}}
                    &lt;p&gt;
                        Some text content here
                    &lt;/p&gt;
                {{/if}}
            </FwContentBox>
        </CodeBlock>

        <hr>

        <h3>Options:</h3>

        <p>
            The FW Content box component allows you to specify several
            variables when showing the box. One such example is the <code>type</code>
            variable, which allows you to specify the <a href="http://getbootstrap.com/components/#panels-alternatives">contextual type</a>
            of the panel.
        </p>

        <p>
            Examples:
        </p>

        <FwContentBox @hasFooter={{false}} @type="primary" as |section|>
            {{#if section.header}}
                <h1 class="panel-title"><strong>Primary Type</strong></h1>
            {{else if section.body}}
                ...
            {{/if}}
        </FwContentBox>

        <FwContentBox @hasFooter={{false}} @type="success" as |section|>
            {{#if section.header}}
                <h1 class="panel-title"><strong>Success Type</strong></h1>
            {{else if section.body}}
                ...
            {{/if}}
        </FwContentBox>

        <FwContentBox @hasFooter={{false}} @type="info" as |section|>
            {{#if section.header}}
                <h1 class="panel-title"><strong>Info Type</strong></h1>
            {{else if section.body}}
                ...
            {{/if}}
        </FwContentBox>

        <FwContentBox @hasFooter={{false}} @type="warning" as |section|>
            {{#if section.header}}
                <h1 class="panel-title"><strong>Warning Type</strong></h1>
            {{else if section.body}}
                ...
            {{/if}}
        </FwContentBox>

        <FwContentBox @hasFooter={{false}} @type="danger" as |section|>
            {{#if section.header}}
                <h1 class="panel-title"><strong>Danger Type</strong></h1>
            {{else if section.body}}
                ...
            {{/if}}
        </FwContentBox>

        <CodeBlock @language="handlebars">
            <FwContentBox @hasFooter={{false}} @type="primary" as |section|>
                {{#if section.header}}
                    &lt;h1 class="panel-title"&gt;&lt;strong&gt;Primary Type&lt;/strong&gt;&lt;/h1&gt;
                {{else if section.body}}
                    ...
                {{/if}}
            </FwContentBox>

            <FwContentBox @hasFooter={{false}} @type="success" as |section|>
                {{#if section.header}}
                    &lt;h1 class="panel-title"&gt;&lt;strong&gt;Success Type&lt;/strong&gt;&lt;/h1&gt;
                {{else if section.body}}
                    ...
                {{/if}}
            </FwContentBox>

            <FwContentBox @hasFooter={{false}} @type="info" as |section|>
                {{#if section.header}}
                    &lt;h1 class="panel-title"&gt;&lt;strong&gt;Info Type&lt;/strong&gt;&lt;/h1&gt;
                {{else if section.body}}
                    ...
                {{/if}}
            </FwContentBox>

            <FwContentBox @hasFooter={{false}} @type="warning" as |section|>
                {{#if section.header}}
                    &lt;h1 class="panel-title"&gt;&lt;strong&gt;Warning Type&lt;/strong&gt;&lt;/h1&gt;
                {{else if section.body}}
                    ...
                {{/if}}
            </FwContentBox>

            <FwContentBox @hasFooter={{false}} @type="danger" as |section|>
                {{#if section.header}}
                    &lt;h1 class="panel-title"&gt;&lt;strong&gt;Danger Type&lt;/strong&gt;&lt;/h1&gt;
                {{else if section.body}}
                    ...
                {{/if}}
            </FwContentBox>
        </CodeBlock>

        <hr>

        <p>
            The Content Box allows you to also specify which portions of the panel
            will be rendered. The three portions are <code>header</code>, <code>body</code>, and <code>footer</code>.
        </p>

        <p>
            By default all three are rendered, but you can disable them optionally using the <code>hasHeader</code>, <code>hasBody</code>,
            and <code>hasFooter</code> options, respectively. Setting any of these variables to false will disable that section of the panel.
        </p>

        <FwContentBox @hasFooter={{false}} as |section|>
            {{#if section.header}}
                <h1 class="panel-title"><strong>No Footer</strong></h1>
            {{else if section.body}}
                BODY
            {{/if}}
        </FwContentBox>

        <FwContentBox @hasBody={{false}} as |section|>
            {{#if section.header}}
                <h1 class="panel-title"><strong>No Body</strong></h1>
            {{else if section.footer}}
                FOOTER
            {{/if}}
        </FwContentBox>

        <FwContentBox @hasHeader={{false}} as |section|>
            {{#if section.body}}
                BODY
            {{else if section.footer}}
                FOOTER
            {{/if}}
        </FwContentBox>

        <CodeBlock @language="handlebars">
            <FwContentBox @hasFooter={{false}} as |section|>
                {{#if section.header}}
                    &lt;h1 class="panel-title"&gt;&lt;strong&gt;No Footer&lt;/strong&gt;&lt;/h1&gt;
                {{else if section.body}}
                    BODY
                {{/if}}
            </FwContentBox>

            <FwContentBox @hasBody={{false}} as |section|>
                {{#if section.header}}
                    &lt;h1 class="panel-title"&gt;&lt;strong&gt;No Body&lt;/strong&gt;&lt;/h1&gt;
                {{else if section.footer}}
                    FOOTER
                {{/if}}
            </FwContentBox>

            <FwContentBox @hasHeader={{false}} as |section|>
                {{#if section.body}}
                    BODY
                {{else if section.footer}}
                    FOOTER
                {{/if}}
            </FwContentBox>
        </CodeBlock>
    {{/if}}
</FwContentBox>
