<FwContentBox @hasFooter={{false}} as |section|>
    {{#if section.header}}
        <h1 class="panel-title"><strong>Tooltips</strong></h1>
    {{else if section.body}}
        <p>
            The tooltip component is designed to encapsulate Bootstrap's
            <a href="http://getbootstrap.com/javascript/#tooltips">tooltip</a>
            functionality.
        </p>

        <p>
            Examples (four different directions):
        </p>

        <div class="example-tooltip-button-wrapper">
            <FwTooltipButton @text="Tooltip on left" @class="btn btn-default" @placement="left">
                Tooltip on left
            </FwTooltipButton>
            <FwTooltipButton @text="Tooltip on top" @class="btn btn-default">
                Tooltip on top
            </FwTooltipButton>
            <FwTooltipButton @text="Tooltip on bottom" @class="btn btn-default" @placement="bottom">
                Tooltip on bottom
            </FwTooltipButton>
            <FwTooltipButton @text="Tooltip on right" @class="btn btn-default" @placement="right">
                Tooltip on right
            </FwTooltipButton>
        </div>

        <CodeBlock @language="handlebars">
            <FwTooltipButton @text="Tooltip on left" @class="btn btn-default" @placement="left">
                Tooltip on left
            </FwTooltipButton>
            <FwTooltipButton @text="Tooltip on top" @class="btn btn-default">
                Tooltip on top
            </FwTooltipButton>
            <FwTooltipButton @text="Tooltip on bottom" @class="btn btn-default" @placement="bottom">
                Tooltip on bottom
            </FwTooltipButton>
            <FwTooltipButton @text="Tooltip on right" @class="btn btn-default" @placement="right">
                Tooltip on right
            </FwTooltipButton>
        </CodeBlock>

        <p>
            FW-Ember (GC) provides two components that can be used with a tooltip: <code>fw-tooltip-button</code>
            and <code>fw-tooltip-icon</code>.

            Each component takes two different properties, a <code>text</code> property,
            which contains the actual text of the tooltip, and a <code>placement</code> property,
            which determines where the tooltip will appear. The <code>placement</code>
            property defaults to 'top'.

            The button is used to display a button, and it also comes with an optional
            action property that can be passed in to do something when a button is clicked.

            The icon component is used to display an icon, and takes an <code>icon</code> property which should be
            the name of a FontAwesome icon (e.g. 'fa-info').
        </p>

        <p>
            There is also a tooltip mixin, which you can use by calling <br>
            <code>import TooltipMixin from 'fw-ember/mixins/tooltip';</code>
            This can be applied to any component that you need, making it more versatile.
        </p>
    {{/if}}
</FwContentBox>

<FwContentBox @hasFooter={{false}} as |section|>
    {{#if section.header}}
        <h1 class="panel-title"><strong>Popovers</strong></h1>
    {{else if section.body}}
        <p>
            The popover component is designed to encapsulate Bootstrap's
            <a href="http://getbootstrap.com/javascript/#popovers">popover</a>
            functionality.
        </p>

        <p>
            Examples (four different directions):
        </p>

        <div class="example-tooltip-button-wrapper">
            <FwPopoverButton @title="Popover on left" @class="btn btn-default" @placement="left" @content="Here's some popover text. Fun right!">
                Popover on left
            </FwPopoverButton>
            <FwPopoverButton @title="Popover on top" @class="btn btn-default" @content="Here's some popover text. Fun right!">
                Popover on top
            </FwPopoverButton>
            <FwPopoverButton @title="Popover on bottom" @class="btn btn-default" @placement="bottom" @content="Here's some popover text. Fun right!">
                Popover on bottom
            </FwPopoverButton>
            <FwPopoverButton @title="Popover on right" @class="btn btn-default" @placement="right" @content="Here's some popover text. Fun right!">
                Popover on right
            </FwPopoverButton>
        </div>

        <CodeBlock @language="handlebars">
            <FwPopoverButton @title="Popover on left" @class="btn btn-default" @placement="left" @content="Here's some popover text. Fun right!">
                Popover on left
            </FwPopoverButton>
            <FwPopoverButton @title="Popover on top" @class="btn btn-default" @content="Here's some popover text. Fun right!">
                Popover on top
            </FwPopoverButton>
            <FwPopoverButton @title="Popover on bottom" @class="btn btn-default" @placement="bottom" @content="Here's some popover text. Fun right!">
                Popover on bottom
            </FwPopoverButton>
            <FwPopoverButton @title="Popover on right" @class="btn btn-default" @placement="right" @content="Here's some popover text. Fun right!">
                Popover on right
            </FwPopoverButton>
        </CodeBlock>

        <p>
            FW-Ember (GC) provides two components that can be used with a tooltip: <code>fw-tooltip-button</code>
            and <code>fw-tooltip-icon</code>.

            Each component takes four different properties, a <code>title</code> property,
            which determines the title of the popover, a <code>placement</code> property,
            which determines where the popover will appear, a <code>content</code> property,
            which determines the actual content of the popover, and a <code>popoverTrigger</code> property,
            which determines how the popover will appear (Can be 'click', 'hover', or 'focus'). The <code>placement</code>
            property defaults to 'top', and the <code>popoverTrigger</code> property defaults to 'hover'

            The button is used to display a button, and it also comes with an optional
            action property that can be passed in to do something when a button is clicked.

            The icon component is used to display an icon, and takes an <code>icon</code> property which should be
            the name of a FontAwesome icon (e.g. 'fa-info').
        </p>

        <p>
            Similar to the tooltip mixin, there is also a popover mixin which
            you can use by importing it: <br>
            <code>import Popover from 'fw-ember/mixins/popover';</code>
            This can be applied to any component that you need, making it more versatile.
        </p>
    {{/if}}
</FwContentBox>
