<div class="panel panel-default">
    <header class="panel-heading">
        <strong class="panel-title">About</strong>
    </header>

    <section class="panel-body text-center">
        <h2><strong>{{app.name}}</strong></h2>
        <h6><strong>Version {{config.version}}</strong></h6>
        <p>
            <em>
                {{{app.desc}}}
            </em>
        </p>

        {{#if app.link}}
            <p><em><a href="{{app.link}}" target="_blank">More Information</a></em></p>
        {{/if}}

        {{#if authors}}
            <br><p><strong>Authors</strong></p>
            <p>{{html-safe authors}}</p>
        {{/if}}

        {{#if maintainers}}
            <br><p><strong>Maintainers</strong></p>
            <p>{{html-safe maintainers}}</p>
        {{/if}}

        {{#if previousMaintainers}}
            <br><p><strong>Previous Maintainers</strong></p>
            <p>{{html-safe previousMaintainers}}</p>
        {{/if}}
    </section>

    <footer class="panel-footer clearfix">
        <span class="btn btn-sm">Created by: <a href="http://library.olivet.edu/" target="_blank">Benner Library</a>, <a href="http://www.olivet.edu/" target="_blank">Olivet Nazarene University</a></span>
        <button class="btn btn-default btn-sm pull-right" {{action "closeModal"}}>
            <i class="fa-solid fa-xmark"></i>
            Close
        </button>
    </footer>
</div>
