<div class="panel panel-default">
    <header class="panel-heading">
        <strong class="panel-title">App Switcher</strong>
        <span style="cursor: pointer;"><i class="fa-solid fa-xmark pull-right" {{action 'closeModal'}}></i></span>
    </header>

    <section class="panel-body">
        <ul class="app-switch-ul">
            {{#each apps as |app|}}
                <li>
                    <a href={{app.url}} onclick="return false" title={{app.name}} {{action 'openOrFocus' app}}>
                        <img src="{{app.logoUrl}}" /><br>
                        <strong style="color: {{if app.color app.color inherit}}">
                            {{if (and (media "isMobile") app.shortName) app.shortName (replace-str app.name ' ' '<br>')}}
                        </strong>
                    </a>
                </li>
            {{/each}}
        </ul>
    </section>

    <footer class="panel-footer clearfix">
        <button class="btn btn-sm btn-danger pull-right" {{action 'closeModal'}}>
            <i class="fa-solid fa-xmark"></i>
            Cancel
        </button>
    </footer>
</div>
