<form role="form">
    <div class="panel panel-default">
        <header class="panel-heading">
            <strong class="panel-title">Login</strong>
        </header>

        <section class="panel-body">
            <p>Your session has expired. Please re-enter your password to continue working.</p>

            <FwNotifications @outlet="re-login" />

            <FwValidatedTextfield @valuePath="password" @label="Password" @model={{this}} @type="password" @name="password" @placeholder="Password" @update={{action (mut password)}} @showCount={{false}} />
        </section>

        <footer class="panel-footer clearfix">
            <FwPromiseButton @type="submit" @class="btn btn-primary btn-sm pull-left" @promise={{action "confirm"}}>
                <i class="fa-solid fa-check"></i>
                Login
            </FwPromiseButton>
            {{#unless noLogin}}
                <FwPromiseButton @class="btn btn-primary btn-sm pull-left" @promise={{action "refresh"}}>
                    <i class="fa-solid fa-rotate-right"></i>
                    Refresh
                </FwPromiseButton>
            {{/unless}}

            <button type="button" class="btn btn-default btn-sm pull-right" {{action "closeModal"}}>
                <i class="fa-solid fa-xmark"></i>
                Logout
            </button>
        </footer>
    </div>
</form>
