<FwNotifications @outlet="global" />

<FwHeader @openModal="openModal" @showAboutLink={{true}} />

<FwNav>
    <ul>
        {{#unless session.isAuthenticated}}
            <li><LinkTo @route="login">Login</LinkTo></li>
        {{/unless}}

        <li><LinkTo @route="index">Intro</LinkTo></li>
        <li><LinkTo @route="installation">Installation</LinkTo></li>
        <li><LinkTo @route="basic-components">Basic</LinkTo></li>
    </ul>
</FwNav>

<main class="container fw-container">
    <div class="row">
        {{outlet}}
    </div>
</main>
