<div class="col-md-4 col-sm-12">
    <FwContentBox as |section|>
        {{#if section.header}}
            <h1 class="panel-title"><strong>Basic Components</strong></h1>
        {{else if section.body}}
            <ul class="fw-collection-ul link-ul">
                <LinkTo @route="basic-components.content-box" @tagName="li">Content Box</LinkTo>
                <LinkTo @route="basic-components.notifications" @tagName="li">Notifications</LinkTo>
                <LinkTo @route="basic-components.tooltip-popover" @tagName="li">Tooltips / Popovers</LinkTo>
            </ul>
        {{/if}}
    </FwContentBox>
</div>

<div class="col-md-8 col-sm-12">
    {{outlet}}
</div>
