<div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-12">
    <FwContentBox @hasFooter={{false}} as |section|>
        {{#if section.header}}
            <h1 class="panel-title"><strong>Welcome to the FW Ember (GC) Documentation</strong></h1>
        {{else if section.body}}
            <p>
                FW Ember (GC) is an Ember-CLI addon composed of several different components,
                mixins, and helpers designed to make developing client-side Ember applications
                with the FW App System as painless as possible. Many of these components handle login and user authentication, as well
                as view permissions, and are designed to work hand-in-hand with the
                Group Control application (link to docs coming soon).
            </p>

            <p>
                This interactive documentation shows what each component, helper, and mixin does,
                and provides code snippet examples that show how to use them. Links to demos of all of the different components can be found
                in the top navbar.
            </p>

            <p>
                If you are building an FW application using the blueprint (link here),
                you shouldn't have to do any additional setup to get the FW Ember (GC)
                addon working. However, if you are not using the default blueprint, go to the
                <LinkTo @route="installation">installation</LinkTo>
                page.
            </p>
        {{/if}}
    </FwContentBox>
</div>
