<div class="col-sm-12">
    <h2>Installation and Setup for fw-ember-gc</h2>
    <FwContentBox @hasFooter={{false}} as |section|>
        {{#if section.header}}
            <h1 class="panel-title"><strong>Step 1</strong></h1>
        {{else if section.body}}
            <p>Add FW Ember to your <code>package.json</code> (it's not currently available as an npm package)</p>
            <CodeBlock @language="json">
                {
                    "devDependencies": {
                        // ... more dependencies
                        "fw-ember-gc": "git+https://bitbucket.org/linformatics/fw-ember-gc.git#master"
                        // ... more dependencies
                    }
                }
            </CodeBlock>

            <p>You can also specify a specific version to install (replace 'master' with 'v0.6.0' or something similar)</p>

            <p>Once you've added that line to your json, run the following commands:</p>

            <CodeBlock @language="bash">
                npm install # installs fw-ember-gc
                ember generate fw-ember # runs the blueprint
            </CodeBlock>
        {{/if}}
    </FwContentBox>

    <FwContentBox @hasFooter={{false}} as |section|>
        {{#if section.header}}
            <h1 class="panel-title"><strong>Step 2</strong></h1>
        {{else if section.body}}
            <p>Create a file in your Ember-CLI app => <code>app/controllers/application.js</code> and paste the following into it:</p>
            <CodeBlock @language="js">
                import Ember from 'ember';
                import ApplicationControllerMixin from 'fw-ember/mixins/application-controller';

                export default Ember.Controller.extend(ApplicationControllerMixin, {
                    // your app code here
                });
            </CodeBlock>
        {{/if}}
    </FwContentBox>

    <FwContentBox @hasFooter={{false}} as |section|>
        {{#if section.header}}
            <h1 class="panel-title"><strong>Step 3</strong></h1>
        {{else if section.body}}
            <p>Create the file <code>app/routes/application.js</code> and paste the following into it:</p>
            <CodeBlock @language="js">
                import Ember from 'ember';
                import ApplicationRouteMixin from 'ember-simple-auth/mixins/application-route-mixin';

                const {service} = Ember.inject;

                export default Ember.Route.extend(ApplicationRouteMixin, {
                    title: 'Application',

                    config: service(),

                    actions: {
                        reload() {
                            window.location.replace(this.get('config.baseURL'));
                        }
                    }
                });
            </CodeBlock>
        {{/if}}
    </FwContentBox>

    <FwContentBox @hasFooter={{false}} as |section|>
        {{#if section.header}}
            <h1 class="panel-title"><strong>Step 4</strong></h1>
        {{else if section.body}}
            <p>Create the file <code>app/styles/app.scss</code> (remove the <code>app.css</code> file) and paste into it:</p>
            <CodeBlock @language="scss">
                $c-main: black; // replace 'black' with a base color for your application

                @import "fw-ember";
            </CodeBlock>
        {{/if}}
    </FwContentBox>

    <FwContentBox @hasFooter={{false}} as |section|>
        {{#if section.header}}
            <h1 class="panel-title"><strong>Step 5 (final step)</strong></h1>
        {{else if section.body}}
            <p>In your <code>app/templates/application.hbs</code>, copy/paste the following:</p>
            <CodeBlock @language="handlebars">
                <FwNotifications @outlet="global" />

                <FwHeader @openModal="openModal" @showAboutLink={{true}} />

                <FwNav>
                    &lt;ul&gt;
                        {{#unless session.isAuthenticated}}
                            &lt;li&gt;<LinkTo @route="login">Login</LinkTo>&lt;/li&gt;
                        {{/unless}}

                        <AuthBlock @tagName="li">
                            <LinkTo @route="index">Main</LinkTo>
                        </AuthBlock>
                    &lt;/ul&gt;
                </FwNav>

                &lt;main class="container fw-container"&gt;
                    &lt;div class="row"&gt;
                        {{outlet}}
                    &lt;/div&gt;
                &lt;/main&gt;

                {{#if showLoginModal}}
                    <FwFullscreenModal @modal="re-login" @size="md" @closeOnClick={{false}} @close={{action "closeLoginModal"}} @model={{hash attemptedTransition=attemptedTransition}} />
                {{/if}}
            </CodeBlock>
            <p>You can look at the documentation for some of the components in that code to see what they do.</p>
        {{/if}}
    </FwContentBox>
</div>
