<div class="col-sm-12 col-md-8 col-lg-4 col-md-offset-2 col-lg-offset-4">
    <form role="form">
        <div class="panel panel-default">
            <header class="panel-heading">
                <strong class="panel-title">Forgot Password</strong>
            </header>

            <section class="panel-body">
                <FwNotifications @outlet="forgot" />

                <FwValidatedTextfield @valuePath="email" @model={{this}} @label="Email" @placeholder="Email" @autofocus="true" @update={{action (mut email)}} @showCount={{false}} />
            </section>

            <footer class="panel-footer clearfix">
                <LinkTo @route="login" @role="button" class="btn btn-sm btn-default pull-left">
                    <i class="fa-solid fa-backward-step"></i>
                    Back
                </LinkTo>

                <button type="submit" class="btn btn-sm btn-primary pull-right" {{action 'sendResetEmail'}}>
                    <i class="fa-regular fa-envelope"></i>
                    Send Reset Email
                </button>
            </footer>
        </div>
    </form>
</div>
