{{#unless currentUser.hasRoles}}
    <div class="col-sm-12 col-md-8 col-lg-4 col-md-offset-2 col-lg-offset-4">
        <div class="panel panel-default">
            <header class="panel-heading has-error">
                <strong class="panel-title control-label">No Permission</strong>
            </header>

            <section class="panel-body">
                <p> You do not have access to this application. If you think you should have permissions, contact an administrator. </p>
            </section>
        </div>
    </div>
{{/unless}}
