<div class="col-sm-12 col-md-8 col-lg-4 col-md-offset-2 col-lg-offset-4">
    <form role="form">
        <div class="panel panel-default">
            <header class="panel-heading">
                <strong class="panel-title">Reset Password</strong>
            </header>

            <section class="panel-body">
                <FwNotifications @outlet="reset" />

                <FwValidatedTextfield @valuePath="password" @label="Password" @model={{this}} @type="password" @placeholder="Password" @autofocus="true" @update={{action (mut password)}} @showCount={{false}} />

                <FwValidatedTextfield @valuePath="confirmPassword" @label="Confirm Password" @model={{this}} @type="password" @placeholder="Confirm Password" @update={{action (mut confirmPassword)}} @showCount={{false}} />
            </section>

            <footer class="panel-footer clearfix">
                <button type="submit" class="btn btn-sm btn-primary" {{action "resetPassword"}}>
                    <i class="fa-regular fa-thumbs-up"></i>
                    Reset
                </button>
            </footer>
        </div>
    </form>
</div>
